@use 'variables';
@use 'mixins';

html {
  scroll-behavior: smooth;
}

.highlight {
  color: variables.$accent-color;
}

::selection {
  background-color: rgba(255, 69, 0, .2);
}

.disabled {
  filter: opacity(.5);

  @include mixins.breakpoint(xxl) {
    &:hover {
      cursor: not-allowed;
    }
  }
}