@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');


$background-color: #1C1C1C;
$secondary-background-color: #333333;
$text-color: #FFFFFF;
$secondary-text-color: #CCCCCC;
$accent-color: #FF4500;
$secondary-accent-color: #00FFFF;

$font-header: 'Orbitron', sans-serif;
$font-body: 'Roboto Mono', monospace;